
<div *ngIf="isLoadingProfile; else profileContent" class="loading-block">
  <p>Loading profile...</p>
</div>


<ng-template #profileContent>
  <div *ngIf="userProfile; else errorProfile" class="profile-card">
    <img [src]="'https://api.dicebear.com/7.x/miniavs/svg?seed=' + userProfile.name"
         alt="Аватар"
         class="avatar">
    <h3>Welcome, {{ userProfile.name }}!</h3>
    <p>Registration date: {{ userProfile.registrationDate }}</p>
  </div>


  <ng-template #errorProfile>
    <p class="error-text">Failed to load profile.</p>
  </ng-template>
</ng-template>


<div *ngIf="isLoadingFavourites; else favouritesContent" class="loading-block">
  <p>Loading featured movies...</p>
</div>

<ng-template #favouritesContent>
  <div *ngIf="favouriteMovies.length === 0; else favouriteList" class="empty-text">
    <p>You don't have any favorite movies.</p>
  </div>

  <ng-template #favouriteList>
    <div class="favourites-list">
      <h3>Your favorite movies:</h3>
      <div *ngFor="let movie of favouriteMovies" class="favourite-item">
        🎬 {{ movie.movie.title }}
      </div>
    </div>
  </ng-template>
</ng-template>
