.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  color: white;
  padding: 10px 20px;
}

.nav-left .logo {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

.nav-right .nav-btn {
  background-color: #007bff;
  color: white;
  border: none;
  margin-left: 10px;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-right .nav-btn:hover {
  background-color: #0056b3;
}
